.env
/media/
./JobPilot/settings.py
.venv
__pycache__/
*.pyc

.DS_Store
**/.DS_Store

prompt_logo
notes_persos
todolist.txt

# Logs
/logs/*.log
/logs/*.log.*
!logs/.gitkeep


test.html
strategie_prix
prompt_strategie_prix
prompt_rating_limit
docs
