Django~=5.2.10
dotenv~=0.9.9
python-dotenv~=1.2.1
dj-database-url~=2.2.0
psycopg2-binary~=2.9.10
requests~=2.32.5
django-storages[azure]~=1.14.2
pdfplumber
google-generativeai
reportlab
logging
django-allauth
PyJWT
stripe
python-docx